<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editando: <%= producto.nombre_producto %> - CyberPower</title>
    <link rel="stylesheet" href="/stylesheets/style_cyber.css">
</head>
<body class="login-page-body">
    <main class="login-container" style="margin-top: 50px;">
        <div class="login-header">
            <h2>Editor de Hardware</h2>
            <p>ID del Producto: <%= producto.id %></p>
        </div>

        <div class="login-box">
            <form action="/actualizar-producto/<%= producto.id %>" method="POST">
                
                <div class="form-group">
                    <label>Nombre del Producto</label>
                    <input type="text" name="nombre" value="<%= producto.nombre_producto %>" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Precio (Texto/Moneda)</label>
                    <input type="text" name="precio" value="<%= producto.precio_producto %>" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea name="descripcion" class="form-control" style="height: 100px; background: #1a1a1a; color: white; border: 1px solid #333; width: 100%;"><%= producto.desc_producto %></textarea>
                </div>

                <button  type="submit" class="btn-login" style="margin-top: 20px;">GUARDAR CAMBIOS</button>
            </form>
        </div>
        
        <div style="text-align: center; margin-top: 20px;">
            <a href="/administrar" style="color: #888; text-decoration: none;">Cancelar y cerrar pestaña</a>
        </div>
    </main>
</body>
</html>